@font-face {
    font-family: "NotoSansExtraBoldItalic";
    src: url("ttf/NotoSans-ExtraBoldItalic.ttf");
}

.button {
    -fx-font-family: "NotoSansExtraBoldItalic";
    -fx-text-fill: #000405;
    -fx-background-color: linear-gradient(to bottom right, #f9a300, #ffea00);
}

.button:hover {
    -fx-opacity: 0.7;
}
